fastapi
uvicorn
streamlit
httpx
langchain
langchain-community
langchain-qdrant
langchain-google-genai
langchain-text-splitters
qdrant-client
google-genai
python-dotenv
loguru
tenacity
rank_bm25
pydantic-settings
numpy
pypdf